@mixin bp($point) {
  @if () {
    $bp-chicago: "(min-width: 600px)";
    $bp-la: "(min-width: 960px)";
    
    @if $point == la {
      @media #{$bp-la} { @content; }
    }
    @else if $point == chicago {
      @media #{$bp-chicago} { @content; }
    }
  }
  @else {
    @content;
  }
}

@mixin transition($speed: 0.55s, $delay: 0s) {
  -webkit-transition: $speed $delay;
  -moz-transition: $speed $delay;
  -ms-transition: $speed $delay;
  transition: $speed $delay;
}

// clearfix 

@mixin clearfix {
  clear: both;
  content: "";
  display: table;
}

// variables

$red: #D44E4B;

* {
  box-sizing: border-box;
}

 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
 }

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: auto;
  margin: 0 auto;
 padding-top: 20px;
  width: 100%;
  @include bp(chicago) {
    max-width: 680px;
  }
  @include bp(la) {
    width: 100%;
  }

  &::after {
    @include clearfix;
  }
}

.keynote {
  overflow: hidden;
    position: relative;
    @include bp(chicago) {
      border-color: white;
    }

    &:hover {
      @include bp(chicago) {
            @include transition;

        img {
          -webkit-filter: blur(3px);
          -moz-filter: blur(3px);
          -ms-filter: blur(3px);
          filter: blur(3px);
          @include transition;
        }
      }
    }
}

.keynote-desc {
  background: #333;
  height: 100%;
  opacity: 1;
  padding: 5px 20px 30px;
  position: static;
  top: auto; right: auto; bottom: 0; left: 0;
  width: 100%;
  @include transition;
  @include bp(chicago) {
    background: rgba(0,0,0,0.6);
    height: 36%;
    opacity: 1;
    padding: 0 40px;
    position: absolute;
  }
}

.keynote:hover .keynote-desc {
  background: #333;
  height: 100%;
  opacity: 1;
  padding: 5px 20px 30px;
  position: static;
  top: auto; right: auto; bottom: 0; left: 0;
  width: 100%;
  @include transition;
  @include bp(chicago) {
    background: rgba(0,0,0,0.6);
    padding: 20px 40px;
    position: absolute;
  }
}

.keynote:hover .keynote-bio {
  @include bp(chicago) {
    opacity: 1;
    margin-top: 0;
    @include transition(0.55s, 0.35s);
  }
}

.keynote:hover .more {
  @include bp(chicago) {
    margin: 25px auto;
    @include transition(0.55s, 0.35s);
  }
}

.keynote:hover .keynote-name {
  &::after {
    border-bottom: 1px solid #ccc;
    content: "";
    bottom: -13px; left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
    @include transition(0.35s, 0.75s);
  }
}

.keynote-name {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  padding: 0 15px;
  position: relative;
  text-align: center;
  @include bp(chicago) {
    font-size: 2em;
  }
  
  &::after {
      border-bottom: 1px solid #666;
      content: "";
      bottom: -13px; left: 50%;
      margin-left: -100px;
      position: absolute;
      width: 200px;
      @include bp(chicago) {
         border-bottom: 1px solid #ccc;
         margin: 0;
         width: 0;
         @include transition(0.35s, 0s);
      }
   }
}

.keynote-bio {
  color: white;
  display: block;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: center;
  @include transition(0.55s);
  @include bp(chicago) {
    margin-top: 70px;
    opacity: 0;
  }
}

.more {
  background: $c-green;
  border-radius: 3px;
  color: white;
  display: block;
  margin: 25px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  max-width: 190px;
  @include bp(chicago) {
    margin: 80px auto;
    @include transition(0.55s, 0s);
  }
}

.keynote-descdiensten{
   background: rgba(0, 0, 0, 0.6);
  height: 54%;
  opacity: 1;
  padding: 0 40px;
  position: absolute;
}